.DS_Store
.idea/
node_modules
npm-debug.log
settings.json
*.tgz
*.metadata.json

/dist
/bundles
dev/bundles
dev/node_modules
dev/app/**/*.js
dev/app/**/*.js.map
dev/package-lock.json

index.js
index.js.map
lib/**/*.js
lib/**/*.js.map
